@import 'variables';
/* default styles */
* {
  outline: none !important;
}
/* font styles */
h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-family: 'Timmana', sans-serif !important;
  font-weight: bold !important;
  letter-spacing: 2px;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-family: 'Spectral', serif !important;
  font-style: italic !important;
}

p,
blockquote,
div,
span {
  font-family: 'Roboto', sans-serif;
}
/* links */
a {
  color: #17a2b8;
  transition: 350ms;
  transition-delay: 50ms;
}
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
}
a:hover {
  color: $primary !important;
}
/* navbar */
.navbar-teckat {
  background-color: #dc3545;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
.navbar-toggler {
  color: #fff !important;
  padding: 4px 6px !important;
  border: 0px !important;
}

.navbar-toggler:hover {
  background-color: #17a2b8 !important;
}

.nav-link {
  color: #fff;
  font-weight: bold;
}

.nav-link:hover {
  color: #000 !important;
}

/* default section styles */
.section {
  padding-top: 4rem;
  padding-bottom: 3rem;
}
section,
article,
aside {
  background-color: #fdfdfd;
}

// home slider
.slider-image {
  max-height: 93vh !important;
  .carousel-caption {
    top: 6rem;
    bottom: 54rem;
    padding-top: 2rem !important;
    h3 {
      letter-spacing: 0.4rem;
    }
    h4 {
      letter-spacing: 0.2rem;
      word-spacing: 0.3rem;
    }
  }
}

/* info section */
.stores {
  background-color: #ae1438;
}
.installed {
  background-color: #192a56;
}
.users {
  background-color: #535c68;
}
.available {
  background-color: #2f363f;
}

/* horizontal row area */
hr {
  width: 75px;
  height: 2px;
  background-color: #dc3545;
  text-align: center;
}

.underline {
  width: 70px;
  height: 3px;
  background-color: black;
}

/* social media icons */
.fa-facebook-square,
.fa-instagram,
.fa-twitter-square {
  color: #000;
  transition: 350ms;
  transition-delay: 50ms;
}
.fa-facebook-square:hover,
.dev-facebook:hover {
  color: #38529a !important;
}
.fa-instagram:hover,
.dev-instagram:hover {
  color: #d05197 !important;
}
.fa-twitter-square:hover,
.dev-twitter:hover {
  color: #1ea1f2 !important;
}

.icon-team,
.icon {
  font-size: 2.18rem;
}

/* developer style in footer */
.footer-link {
  color: #fff;
}

.dev-facebook,
.dev-instagram,
.dev-twitter,
.dev-youtube,
.dev-github {
  color: #fff !important;
  font-size: 25px;
  transition: 350ms;
  transition-delay: 50ms;
}
.dev-youtube:hover {
  color: rgb(241, 40, 40) !important;
}
.dev-github:hover {
  color: rgb(224, 75, 75) !important;
}

.fa-heart {
  font-size: 15px !important;
  color: #17a2b8 !important;
}

.fa-heart:hover {
  color: #dc3545 !important;
}

.bg-color {
  background-color: $color;
}

/* swiper */
.swiper-button-next,
.swiper-button-prev {
  top: 80px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* custom bootstrap breakpoint */

/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */

/* Large devices (desktops, less than 1200px) lg */
@media (max-width: 1199.98px) {
  // TODO: add custom styles for lg
}

/* Medium devices (tablets, less than 992px) md */
@media (max-width: 991.98px) {
  // TODO: add custom styles for md
}

/* Small devices (landscape phones, less than 768px)   sm */
@media (max-width: 767.98px) {
  .feedback-block {
    height: auto !important;
  }
  .contact-box {
    height: auto !important;
  }

  // home slider
  .slider-image {
    max-height: 65vh !important;
    .carousel-caption {
      top: 3rem;
      bottom: 70rem;
    }
  }

  // swiper
  .swiper-slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  // know-more
  .know-more {
    height: auto !important;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  // home slider
  .slider-image {
    max-height: 50vh !important;
    .carousel-caption {
      top: 2.9rem;
      bottom: 69rem;
    }
  }

  // swiper
  .swiper-slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
/* ==============================================
                  bootstrap modifications
    ==================================================*/

// bg colors
.bg-primary,
.btn-primary,
.btn-secondary:hover {
  background-color: $primary !important;
}
.bg-secondary,
.btn-secondary,
.btn-primary:hover {
  background-color: $secondary !important;
}
.bg-success {
  background-color: #009688 !important;
}

// btn color
.btn-primary,
.btn-secondary,
.btn-success,
.btn-success:hover,
.btn-primary:hover,
.btn-secondary:hover {
  color: #fff !important;
}

// text-color
.text-primary {
  color: $primary !important;
}
.text-secondary {
  color: $secondary !important;
}
.text-success {
  color: #009688 !important;
}
// card
.card {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
.card:hover {
  box-shadow: 0px 3px 10px 0px rgba(49, 162, 184, 0.9),
    0 3px 10px 0 rgba(220, 53, 69, 0.9),
    0px 3px 10px 0px rgba(255, 255, 255, 0.7);
}

// btn
.btn {
  border-width: 0px;
}
