h1{
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}


nav{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    background-color: cadetblue;
    color: white;
    width: 150px;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    &:hover{
      cursor: pointer;
      background-color: black;
    }
  }
}
