/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
  p {
    display: flex;
    align-items: center;
  }
}
